body.login {
	background-image: url("../images/loginBackground.jpg");
	background-size: cover;
}

body.tracker{
	background-color: #003151
}

h1 {
	font-family: 'PT Sans', sans-serif;
	font-size: 60px !important;
}

a {
  color: #00B7FF;
}


.jumbotron {
	background-color: #C6D729 !important;
	color: #3E4551;
}

h5 {
	background-color: #C6D729;
	padding: 40px 45px 40px 45px;
	display: inline-block;
	font-size: 30px !important;
}

h3 {
	color: white;
}





