body.login {
	background-image: url("../images/loginBackground.jpg");
	background-size: cover;
}

h1 {
	font-family: 'PT Sans', sans-serif;
	font-size: 60px !important;
}

a {
  color: #00B7FF;
}


.jumbotron {
	background-color: #EF9566 !important;
	color: #3E4551;
}

h5 {
	background-color: #F8D0A9;
	height: 100px;
	width: 100px;
	display: inline-block;
}



